doctype html
html
  head
    title About - Career Connect
    style.
      /* Reset styles */
      html, body, header, nav, ul, li {
        margin: 0;
        padding: 0;
      }

      body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
      }

      header {
        background-color: #333;
        color: #fff;
        padding: 10px 0;
      }
       nav {
        display: flex;
        justify-content: center; /* Align items horizontally to center */
      }

      nav ul {
        list-style-type: none;
      }

      nav ul li {
        display: inline-block;
        margin-right: 10px;
      }

      nav ul li a {
        color: #fff;
        text-decoration: none;
      }

      main {
        max-width: 800px;
        margin: 20px auto;
        text-align: center;
      }
      main ul {
        list-style-type: none;

      }

      h1 {
        font-size: 2.5em;
        margin-bottom: 20px;
      }

      p {
        font-size: 1.2em;
        margin-bottom: 40px;
      }

      footer{
        display: flex;
        justify-content: center;
      }

      /* Style for the image */
      .sample-image {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
      }

  body
    header
      nav
        ul
          li
            a(href='/about') About
          li
            a(href='/contact') Contact
          li
            a(href='/login') Login

    main
      <h1>About DIT Career Connect</h1>

      <p>Welcome to DIT Career Connect - the platform designed to help DIT students navigate their professional journey. Whether you're exploring career options, seeking internships, or preparing for job interviews, DIT Career Connect is here to support you every step of the way.</p>
      <p>Key features of DIT Career Connect:</p>
      ul
        <li>Access to a vast network of alumni and industry professionals</li>
        <li>Job postings and internship opportunities tailored to your field of study</li>
        <li>Resume building and interview preparation resources</li>
        <li>Events and workshops to enhance your professional skills</li>
      <p>Get started today and take control of your career path with DIT Career Connect!</p>
      

      img.sample-image(src='/images/img1.jpg', alt='Sample Image', class='sample-image') 

    footer
      p Copyright © 2024 Career Connect. All rights reserved.

